@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  background-color: hsl(234, 29%, 20%);
}

.form-control input {
  border: 1px solid #ccc;
  margin: 0 auto;
}

.form-control input:focus {
  outline: none;
  border-color: #240370;
  background-color: #e0d4fd;
}

.invalid input {
  border: 1px solid #e49090;
  background: hsl(5, 100%, 90%);
}

.invalid input::placeholder {
  color: #e48f8f;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

 /* button:active, button:focus {
  background-color: linear-gradient(from rgb(241, 104, 79) to rgb(241, 49, 49));
} */
